<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width : monsterbarstyles}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width : playerbarstyles}"></div>
        </div>
        <section class="container" v-if="winner">
        <p>Game Over!</p>
        <p v-if="winner === 'player'">You won!</p>
        <p v-else-if="winner === 'monster'">You lost!</p>
        <p v-else>Its a draw!</p>
        <button @click="newgame">Start new game</button>
      </section>
      </section>
      <section id="controls">
        <button @click="attackmonster">ATTACK</button>
        <button :disabled="mayusespecialattack" @click="specialattack">SPECIAL ATTACK</button>
        <button @click="healplayer">HEAL</button>
        <button @click = "surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logs in logmessages">
            {{logs.actionby}} -- {{logs.action}} -- {{logs.actionvalue}} 
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
